<%= form_with(model: note, local: true) do |form| %>
  <% if note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(note.errors.count, "error") %> prohibited this note from being saved:</h2>

      <ul>
      <% note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :once_value %>
    <%= form.text_field :once_value, id: :note_once_value %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment, id: :note_comment %>
  </div>

  <div class="field">
    <%= form.label :meter_id %>
    <%= form.text_field :meter_id, id: :note_meter_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
